@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

body {
  margin: 0px auto;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  overflow: hidden;
  margin: 0;
}

#buttonContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; /* space between buttons */
  justify-content: center;
  align-items: center;
  z-index: 10; /* make sure it's above the canvas */
}

#buttonContainer button {
  font-family: 'BBH Sans Bogle';
  font-size: 26px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

#buttonContainer button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

